#cont {
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  align-self: center;
  margin-left: 120px;
  border-radius: 10%;
  border: black solid 1px;
}
#category {
  vertical-align: middle;
}
.top-buffer {
  margin-top: 15px;
}
button.btn {
  margin-top: 12px;
  margin-right: 30px;
  margin-bottom: 20px;
}
input[type="number"] {
  margin-top: 12px;
  text-align: center;
  height: 35px;
  width: 80px;
  font-size: 25px;
}
.category {
  margin-top: 12px;
}
#viewcart {
  text-align: center;
  margin-left: 450px;
  height: 50px;
  font-size: 20px;
  width: 150px;
}
img {
  width: 50%;
  height: 50%;
}
input:invalid {
  border-color: red;
}
input,
input:valid {
  border-color: #ccc;
}
