body,
html {
  height: 100%;
}
.bg {
  background-image: url("../images/banner/banner3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  margin-top: 15%;
  margin-left: 50%;
  margin-right: 7%;
  height: auto;
  color: white;
  font-size: x-large;
  text-align: center;
  background-color: rgba(22, 22, 21, 0.8);
  padding: 20px;
  padding-bottom: 50px;
}
input:invalid {
  border-color: red;
}
input,
input:valid {
  border-color: #ccc;
}
#mobile {
  height: 50px;
  font-size: x-large;
}
